/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 10pt;
}
/* Headers */
h1{
  font-family: Helvetica;
  font-size: 14pt;
  color:  #3352ff;
}
h2{
  font-family: Helvetica;
  font-size: 12pt;
}
h3{
  font-family: Helvetica;
  font-size: 10pt;
}
h4{
  font-family: Helvetica;
  font-size: 10pt;
}

